[Unit]
Description=InstaDelivery
After=syslog.target
After=network.target

[Service]
Restart=Always
RestartSec=2s
Type=simple
User=root
Group=root
WorkingDirectory=/home/samadbek_mahmudjonov/InstaDelivery
ExecStart=/home/samadbek_mahmudjonov/InstaDelivery/.venv/bin/python /home/samadbek_mahmudjonov/InstaDelivery/main.py

[Install]
WantedBy=multi-user.target
